
<li class="pc-item pc-caption">
  <label>Home</label>
  <i class="ti ti-dashboard"></i>
</li>
<li class="pc-item">
  <a href="{{ url_for('home_blueprint.analytics') }}" class="pc-link"><span class="pc-micon"><i
        class="ti ti-device-analytics"></i></span><span class="pc-mtext">Overview</span></a>
</li>
</li>
<li class="pc-item pc-caption">
  <label>Management</label>
  <i class="ti ti-chart-arcs"></i>
</li>
<li class="pc-item">
  <a href="{{ url_for('home_blueprint.team') }}" class="pc-link"><span class="pc-micon"><i
        class="ti ti-users"></i></span><span class="pc-mtext">Teams</span></a>
</li>
<li class="pc-item">
  <a href="{{ url_for('home_blueprint.customer') }}" class="pc-link"><span class="pc-micon"><i
        class="ti ti-clipboard-list"></i></span><span class="pc-mtext">Customers</span></a>
</li>
<!---------------------------->