{% extends 'layouts/base.html' %}

{% block title %} Badges {% endblock title %}

{% block content %}

  <!-- [ Main Content ] start -->
  <div class="pc-container">
    <div class="pc-content">
      <!-- [ breadcrumb ] start -->
      <div class="page-header">
        <div class="page-block">
          <div class="row align-items-center">
            <div class="col-md-12">
              <div class="page-header-title">
                <h5 class="m-b-10">Badges</h5>
              </div>
              <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="javascript: void(0)">Basic UI</a></li>
                <li class="breadcrumb-item" aria-current="page">Badges</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- [ breadcrumb ] end -->


      <!-- [ Main Content ] start -->
      <div class="row">
        <!-- [ badge ] start -->
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <h5>Basic Badges</h5>
            </div>
            <div class="card-body">
              <h1>Example heading <span class="badge bg-dark">New</span></h1>
              <h2>Example heading <span class="badge bg-dark">New</span></h2>
              <h3>Example heading <span class="badge bg-dark">New</span></h3>
              <h4>Example heading <span class="badge bg-dark">New</span></h4>
              <h5>Example heading <span class="badge bg-dark">New</span></h5>
              <h6>Example heading <span class="badge bg-dark">New</span></h6>
            </div>
          </div>
          <div class="card btn-page">
            <div class="card-header">
              <h5>Button Badges</h5>
            </div>
            <div class="card-body">
              <div class="d-flex flex-wrap gap-2">
                <button type="button" class="btn btn-primary">primary <span class="badge bg-light text-dark">4</span></button>
                <button type="button" class="btn btn-secondary position-relative"
                  >Inbox
                  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                    >99+
                    <span class="visually-hidden">unread messages</span>
                  </span>
                </button>
                <button type="button" class="btn btn-info position-relative ms-2"
                  >Profile
                  <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                    <span class="visually-hidden">New alerts</span>
                  </span>
                </button>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h5>Contextual Variations</h5>
            </div>
            <div class="card-body">
              <div class="d-flex flex-wrap gap-2">
                <span class="badge bg-primary">Primary</span>
                <span class="badge bg-secondary">Secondary</span>
                <span class="badge bg-success">Success</span>
                <span class="badge bg-danger">Danger</span>
                <span class="badge bg-warning text-dark">Warning</span>
                <span class="badge bg-info">Info</span>
                <span class="badge bg-light text-dark">Light</span>
                <span class="badge bg-dark">Dark</span>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h5>Pill Badges</h5>
            </div>
            <div class="card-body">
              <div class="d-flex flex-wrap gap-2">
                <span class="badge rounded-pill bg-primary">Primary</span>
                <span class="badge rounded-pill bg-secondary">Secondary</span>
                <span class="badge rounded-pill bg-success">Success</span>
                <span class="badge rounded-pill bg-danger">Danger</span>
                <span class="badge rounded-pill bg-warning text-dark">Warning</span>
                <span class="badge rounded-pill bg-info">Info</span>
                <span class="badge rounded-pill bg-light text-dark">Light</span>
                <span class="badge rounded-pill bg-dark">Dark</span>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h5>Light variant</h5>
            </div>
            <div class="card-body">
              <div class="d-flex flex-wrap gap-2">
                <span class="badge bg-light-primary">Primary</span>
                <span class="badge bg-light-secondary">Secondary</span>
                <span class="badge bg-light-success">Success</span>
                <span class="badge bg-light-danger">Danger</span>
                <span class="badge bg-light-warning">Warning</span>
                <span class="badge bg-light-info">Info</span>
                <span class="badge bg-light-light text-dark">Light</span>
                <span class="badge bg-light-dark">Dark</span>
              </div>
            </div>
          </div>
        </div>
        <!-- [ badge ] end -->
      </div>
      <!-- [ Main Content ] end -->
    </div>
  </div>

{% endblock %}