{% extends 'layouts/auth_base.html' %}

{% block title %} Forgot Password {% endblock title %}

{% block content %}

    <div class="auth-main">
      <div class="auth-wrapper v3">
        <div class="auth-form">
          <div class="card mt-5">
            <div class="card-body">
              <a href="/" class="d-flex justify-content-center">
                <img src="{{ url_for('static', filename='assets/images/logo-dark.svg') }}" />
              </a>
              <div class="row">
                <div class="d-flex justify-content-center">
                  <div class="auth-header text-center">
                    <h2 class="text-secondary mt-5"><b>Forgot password?</b></h2>
                    <p class="f-16 mt-3">Enter your email address below and we'll send you password reset link.</p>
                  </div>
                </div>
              </div>
              <div class="form-floating mb-2">
                <input type="email" class="form-control" id="floatingInput" placeholder="Email address / Username" />
                <label for="floatingInput">Email address / Username</label>
              </div>
              <div class="d-grid mt-4">
                <button type="button" class="btn btn-secondary p-2">Send Mail</button>
              </div>
              <hr />
              <h5 class="d-flex justify-content-center">Already have an account?
                <a href="{{ url_for('login_v3') }}">Login</a>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}