{% extends 'layouts/base.html' %}

{% block title %} Account Profile 1 {% endblock title %}

{% block extrastyle %}
  <!-- [Page specific CSS] start -->
  <!-- notification css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/plugins/notifier.css') }}" />
  <!-- [Page specific CSS] end -->
{% endblock extrastyle %}

{% block content %}
  <!-- [ Main Content ] start -->
  <div class="pc-container">
    <div class="pc-content">
      <!-- [ Main Content ] start -->
      <div class="row">
        
        <!-- [ sample-page ] start -->
        <div class="col-sm-12">
          <div id="test" style="display:none" class="alert alert-success" role="alert"> 
            Success! You have sent an alert to Brian regarding their open leads.
          </div>

          <div class="card">
            <div class="card-header pb-0">
              <ul class="nav nav-tabs profile-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="profile-tab-1" data-bs-toggle="tab" href="#profile-1" role="tab" aria-controls="Profile-1" aria-selected="true">
                    <i class="material-icons-two-tone me-2">account_circle</i>Profile
                  </a>
                </li>
              </ul>
            </div>
                        
            <div class="card-body btn-page">
              <div class="tab-content">
                <div class="tab-pane show active" id="profile-1" role="tabpanel" aria-labelledby="profile-tab-1">
                  <div class="row">
                    <div class="col-lg-12 col-xxl-12 col-md-12 col-sm-12">
                      <div class="card border">
                        <div style="background-color: aliceblue" class="card-header">
                          <div class="col-lg-5 col-md-5 col-xxl-5">
                            <div class="media align-items-center">
                              <img class="img-radius img-fluid wid-40" src="{{ url_for('static', filename='assets/images/user/avatar-6.jpg') }}" alt="User image" />
                              <div class="media-body mx-3">
                                <h5 class="mb-1">Tash</h5>
                                <h6 class="text-muted mb-0">Sales</h6>
                              </div>
                              <div class="col-lg-8 col-md-8 col-sm-8">
                                <!--<button style="width: 200px" data-pc-animate="newspaper" type="button" class="btn btn-primary btn-block" data-bs-toggle="modal" data-bs-target="#animateModal">Send alert </button>-->
                                <div class="modal fade modal-animate" id="animateModal" tabindex="-1" aria-labelledby="animateModalLabel" aria-hidden="true">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <div class="modal-header bg-dark">
                                        <h5 class="modal-title text-white">Alert confirmation</h5>
                                        <button type=" button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"> </button>
                                      </div>
                                      <div class="modal-body">
                                        <div class="form-group">
                                          <label for="message-text" class="col-form-label">Message:</label>
                                          <textarea class="form-control" id="message-text">Hi Brian, SalesPro has alerted me of your 1 open lead. Do you have any updates on these, or do you need help? Thanks!</textarea>
                                        </div>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                                        <button onclick="display_alert_sales()" type="button" class="btn btn-success shadow-2" data-bs-dismiss="modal">Send alert</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              </div>
                            </div>
                        </div>
                        <div class="card-body">
                          <div class="row align-items-center mt-3">
                            <div class="col-md-6 mb-3">
                              <h6 class="m-b-10 text-muted">Cold calls</h6>
                              <div class="row align-items-center">
                                <div class="col">
                                  <div class="progress" style="height: 4px">
                                    <div class="progress-bar bg-success" style="width: 100%"></div>
                                  </div>
                                </div>
                                <div class="col-auto">
                                  <h6 class="m-b-0">30/30</h6>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6 mb-3">
                              <h6 class="m-b-10 text-muted">Meetings booked</h6>
                              <div class="row align-items-center">
                                <div class="col">
                                  <div class="progress" style="height: 4px">
                                    <div class="progress-bar bg-success" style="width: 100%"></div>
                                  </div>
                                </div>
                                <div class="col-auto">
                                  <h6 class="m-b-0">15/15</h6>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6 mb-3">
                              <h6 class="m-b-10 text-muted">Deals closed</h6>
                              <div class="row align-items-center">
                                <div class="col">
                                  <div class="progress" style="height: 4px">
                                    <div class="progress-bar bg-success" style="width: 100%"></div>
                                  </div>
                                </div>
                                <div class="col-auto">
                                  <h6 class="m-b-0">22/22</h6>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6 mb-3">
                              <h6 class="m-b-10 text-muted">Conversions</h6>
                              <div class="row align-items-center">
                                <div class="col">
                                  <div class="progress" style="height: 4px">
                                    <div class="progress-bar bg-success" style="width: 100%"></div>
                                  </div>
                                </div>
                                <div class="col-auto">
                                  <h6 class="m-b-0">40/40</h6>
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>

                  <div class="row">
                    <div class="col-lg-12 col-xxl-12 col-md-12 col-sm-12">
                      <div class="card border">
                        <div style="background-color: aliceblue" class="card-header">
                          <h5>Open leads</h5>
                        
                        </div>
                        <div class="card-body">


                          <table id="simpletable" class="table table-striped table-bordered nowrap">
                            <thead>
                              <tr>
                                <th>Company</th>
                                <th>Status</th>
                                <th># Employees</th>
                                <th>Contact</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>Thing Inc.</td>
                                <td><div class="badge bg-success rounded-pill text-base">1 day old</div></td>
                                <td>50-200</td>
                                <td>Hatim Goullard</td>
                              </tr>
                            </tbody>
                          </table>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- [ sample-page ] end -->
      </div>
      <!-- [ Main Content ] end -->
    </div>
  </div>
  <!-- [ Main Content ] end -->

{% endblock content %}


{% block extra_js %}

    <!-- [Page Specific JS] start -->
    <!-- notification Js -->
    <script src="{{ url_for('static', filename='assets/js/plugins/notifier.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/pages/ac-notification.js') }}"></script>

    <!-- [Page Specific JS] end -->

{% endblock extra_js %}