{% extends 'layouts/base.html' %}

{% block title %}Statistics{% endblock title %}

{% block content %}

  <!-- [ Main Content ] start -->
  <div class="pc-container">
    <div class="pc-content">
      <!-- [ breadcrumb ] start -->
      <div class="page-header">
        <div class="page-block">
          <div class="row align-items-center">
            <div class="col-md-12">
              <div class="page-header-title">
                <h5 class="m-b-10">Statistics</h5>
              </div>
              <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="javascript: void(0)">Widget</a></li>
                <li class="breadcrumb-item" aria-current="page">Statistics</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- [ breadcrumb ] end -->


      <!-- [ Main Content ] start -->
      <div class="row">
        <!-- [ sample-page ] start -->
        <div class="col-lg-3 col-md-6">
          <div class="card">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-1">$30200</h3>
                  <p class="text-muted mb-0">All Earnings</p>
                </div>
                <div class="col-4 text-end">
                  <i class="material-icons-two-tone text-secondary f-36">insert_chart</i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="card">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-1">145</h3>
                  <p class="text-muted mb-0">Task</p>
                </div>
                <div class="col-4 text-end">
                  <i class="material-icons-two-tone text-danger f-36">calendar_today</i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="card">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-1">290+</h3>
                  <p class="text-muted mb-0">Page Views</p>
                </div>
                <div class="col-4 text-end">
                  <i class="material-icons-two-tone text-success f-36">description</i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="card">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-1">500</h3>
                  <p class="text-muted mb-0">Downloads</p>
                </div>
                <div class="col-4 text-end">
                  <i class="material-icons-two-tone text-primary f-36">thumb_down</i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 col-xl-4">
          <div class="card bg-secondary order-card">
            <div class="card-body">
              <h5 class="text-white">Revenue</h5>
              <h3 class="text-white">$42,562</h3>
              <p class="m-b-0">$50,032 Last Month</p>
              <i class="material-icons-two-tone d-block f-46 card-icon text-white">monetization_on</i>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-4">
          <div class="card bg-primary order-card">
            <div class="card-body">
              <h5 class="text-white">Orders Received</h5>
              <h3 class="text-white">486</h3>
              <p class="m-b-0">20% Increase</p>
              <i class="material-icons-two-tone d-block f-46 card-icon text-white">account_circle</i>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-4">
          <div class="card bg-danger order-card">
            <div class="card-body">
              <h5 class="text-white">Total Sales</h5>
              <h3 class="text-white">1641</h3>
              <p class="m-b-0">$1,055 Revenue Generated</p>
              <i class="material-icons-two-tone d-block f-46 card-icon text-white">local_mall</i>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-md-6">
          <div class="card">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col">
                  <i class="material-icons-two-tone text-primary mb-1 f-26">account_circle</i>
                  <h5 class="mb-0 text-muted">Visitors</h5>
                </div>
                <div class="col text-end">
                  <h3 class="mb-0">6035</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col">
                  <i class="material-icons-two-tone text-danger mb-1 f-26">description</i>
                  <h5 class="mb-0 text-muted">Invoices</h5>
                </div>
                <div class="col text-end">
                  <h3 class="mb-0">19</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col">
                  <i class="material-icons-two-tone text-warning mb-1 f-26">bug_report</i>
                  <h5 class="mb-0 text-muted">Issues</h5>
                </div>
                <div class="col text-end">
                  <h3 class="mb-0">63</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col">
                  <i class="material-icons-two-tone text-success mb-1 f-26">folder_open</i>
                  <h5 class="mb-0 text-muted">Projects</h5>
                </div>
                <div class="col text-end">
                  <h3 class="mb-0">95%</h3>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-md-6">
          <div class="card feed-card">
            <div class="card-body p-0">
              <div class="row g-0">
                <div class="col-4 bg-secondary border-feed">
                  <i class="material-icons-two-tone d-block f-46">account_circle</i>
                </div>
                <div class="col-8">
                  <div class="p-t-25 p-b-25 ps-3">
                    <h2 class="f-w-400 m-b-10">2,672</h2>
                    <p class="text-muted m-0">Last week <span class="text-secondary f-w-400">user's</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card feed-card">
            <div class="card-body p-0">
              <div class="row g-0">
                <div class="col-4 bg-primary border-feed">
                  <i class="material-icons-two-tone d-block f-46">account_balance_wallet</i>
                </div>
                <div class="col-8">
                  <div class="p-t-25 p-b-25 ps-3">
                    <h2 class="f-w-400 m-b-10">$6391</h2>
                    <p class="text-muted m-0">Total <span class="text-primary f-w-400">earning</span> </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card feed-card">
            <div class="card-body p-0">
              <div class="row g-0">
                <div class="col-4 bg-warning border-feed">
                  <i class="material-icons-two-tone d-block f-46">insert_emoticon</i>
                </div>
                <div class="col-8">
                  <div class="p-t-25 p-b-25 ps-3">
                    <h2 class="f-w-400 m-b-10">9,276</h2>
                    <p class="text-muted m-0">Today <span class="text-warning f-w-400">visitors</span> </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card feed-card">
            <div class="card-body p-0">
              <div class="row g-0">
                <div class="col-4 bg-danger border-feed">
                  <i class="material-icons-two-tone d-block f-46">shopping_cart</i>
                </div>
                <div class="col-8">
                  <div class="p-t-25 p-b-25 ps-3">
                    <h2 class="f-w-400 m-b-10">3,619</h2>
                    <p class="text-muted m-0">New <span class="text-danger f-w-400">order</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-md-6">
          <div class="card text-center order-visitor-card">
            <div class="card-body">
              <h5 class="m-b-0">Total Subscription</h5>
              <h3 class="m-t-15 m-b-15"><i class="icon feather icon-arrow-down me-1 text-danger"></i>7652 </h3>
              <p class="m-b-0">48% From Last 24 Hours</p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card text-center order-visitor-card">
            <div class="card-body">
              <h5 class="m-b-0">Order Status</h5>
              <h3 class="m-t-15 m-b-15"><i class="icon feather icon-arrow-up me-1 text-success"></i>6325 </h3>
              <p class="m-b-0">36% From Last 6 Months</p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card text-center order-visitor-card">
            <div class="card-body">
              <h5 class="m-b-0">Unique Visitors</h5>
              <h3 class="m-t-15 m-b-15"><i class="icon feather icon-arrow-down me-1 text-danger"></i>652 </h3>
              <p class="m-b-0">36% From Last 6 Months</p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card text-center order-visitor-card">
            <div class="card-body">
              <h5 class="m-b-0">Monthly Earnings</h5>
              <h3 class="m-t-15 m-b-15"><i class="icon feather icon-arrow-up me-1 text-success"></i>5963 </h3>
              <p class="m-b-0">36% From Last 6 Months</p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-xl-3">
          <div class="card social-widget-card bg-secondary">
            <div class="card-body">
              <h3 class="text-white m-0">1165 +</h3>
              <span class="m-t-10">Facebook Users</span>
              <i class="fab fa-facebook"></i>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-3">
          <div class="card social-widget-card bg-primary">
            <div class="card-body">
              <h3 class="text-white m-0">780 +</h3>
              <span class="m-t-10">Twitter Users</span>
              <i class="fab fa-twitter"></i>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-3">
          <div class="card social-widget-card bg-dark">
            <div class="card-body">
              <h3 class="text-white m-0">998 +</h3>
              <span class="m-t-10">Linked In Users</span>
              <i class="fab fa-linkedin-in"></i>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-3">
          <div class="card social-widget-card bg-danger">
            <div class="card-body">
              <h3 class="text-white m-0">650 +</h3>
              <span class="m-t-10">Youtube Videos</span>
              <i class="fab fa-youtube"></i>
            </div>
          </div>
        </div>

        <div class="col-xl-4 col-md-12">
          <div class="card comp-card">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col">
                  <h5 class="m-b-20">Impressions</h5>
                  <h3>1,563</h3>
                  <p class="m-b-0">May 23 - June 01 (2018)</p>
                </div>
                <div class="col-auto">
                  <i class="fas fa-eye bg-light-primary text-primary"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="card comp-card">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col">
                  <h5 class="m-b-20">Goal</h5>
                  <h3>30,564</h3>
                  <p class="m-b-0">May 28 - June 01 (2018)</p>
                </div>
                <div class="col-auto">
                  <i class="fas fa-bullseye bg-light-success text-success"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="card comp-card">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col">
                  <h5 class="m-b-20">Impact</h5>
                  <h3>42.6%</h3>
                  <p class="m-b-0">May 30 - June 01 (2018)</p>
                </div>
                <div class="col-auto">
                  <i class="fas fa-hand-paper bg-light-warning text-warning"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-12">
          <div class="card proj-progress-card">
            <div class="card-body">
              <div class="row g-3">
                <div class="col-xl-3 col-md-6">
                  <h6>Published Project</h6>
                  <h3 class="my-2">532</h3>
                  <div class="progress">
                    <div class="progress-bar bg-danger bg-danger" style="width: 25%"></div>
                  </div>
                </div>
                <div class="col-xl-3 col-md-6">
                  <h6>Completed Task</h6>
                  <h3 class="my-2">4,569</h3>
                  <div class="progress">
                    <div class="progress-bar progress-primary bg-primary" style="width: 65%"></div>
                  </div>
                </div>
                <div class="col-xl-3 col-md-6">
                  <h6>Successfull Task</h6>
                  <h3 class="my-2">89%</h3>
                  <div class="progress">
                    <div class="progress-bar progress-success bg-success" style="width: 85%"></div>
                  </div>
                </div>
                <div class="col-xl-3 col-md-6">
                  <h6>Ongoing Project</h6>
                  <h3 class="my-2">365</h3>
                  <div class="progress">
                    <div class="progress-bar progress-warning bg-warning" style="width: 45%"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="card bg-secondary text-white widget-visitor-card">
            <div class="card-body text-center">
              <h2 class="text-white">1,658</h2>
              <p class="text-white">Daily user</p>
              <i class="material-icons-two-tone d-block f-46 text-white">account_circle</i>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card bg-primary text-white widget-visitor-card">
            <div class="card-body text-center">
              <h2 class="text-white">5,678</h2>
              <p class="text-white">Daily visitor</p>
              <i class="material-icons-two-tone d-block f-46 text-white">description</i>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card bg-success text-white widget-visitor-card">
            <div class="card-body text-center">
              <h2 class="text-white">5,678</h2>
              <p class="text-white">Last month visitor</p>
              <i class="material-icons-two-tone d-block f-46 text-white">emoji_events</i>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-lg-4">
          <div class="card card-customer">
            <div class="card-header">
              <h5>Customer satisfaction</h5>
            </div>
            <div class="card-body">
              <h2 class="text-primary m-0 text-center f-w-400">89.73%</h2>
              <div class="progress m-t-30 m-b-30">
                <div class="progress-bar bg-primary" style="width: 85%"></div>
              </div>
              <div class="row">
                <div class="col-6 col-md-4 text-center">
                  <p class="text-muted m-b-5 f-14">previous</p>
                  <h6 class="f-w-900">56.75</h6>
                </div>
                <div class="col-6 col-md-4 text-center">
                  <p class="text-muted m-b-5 f-14">% Change</p>
                  <h6 class="f-w-900">+12.60</h6>
                </div>
                <div class="col-12 col-md-4 text-center">
                  <p class="text-muted m-b-5 f-14">Trend</p>
                  <h6 class="f-w-900">23.78</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-7 col-xl-4">
          <div class="card flat-card">
            <div class="row-table">
              <div class="col-sm-6 card-body w-50 br">
                <div class="row g-1">
                  <div class="col-4">
                    <div class="b-icons bg-light-primary">
                      <i class="material-icons-two-tone text-secondary">share</i>
                    </div>
                  </div>
                  <div class="col-8 text-md-center">
                    <h5>1000</h5>
                    <span>Shares</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 card-body w-50">
                <div class="row g-1">
                  <div class="col-4">
                    <div class="b-icons bg-light-primary">
                      <i class="material-icons-two-tone text-secondary">router</i>
                    </div>
                  </div>
                  <div class="col-8 text-md-center">
                    <h5>600</h5>
                    <span>Network</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row-table">
              <div class="col-sm-6 card-body w-50 br">
                <div class="row g-1">
                  <div class="col-4">
                    <div class="b-icons bg-light-primary">
                      <i class="material-icons-two-tone text-secondary">filter_vintage</i>
                    </div>
                  </div>
                  <div class="col-8 text-md-center">
                    <h5>3550</h5>
                    <span>Returns</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 card-body w-50">
                <div class="row g-1">
                  <div class="col-4">
                    <div class="b-icons bg-light-primary">
                      <i class="material-icons-two-tone text-secondary">local_mall</i>
                    </div>
                  </div>
                  <div class="col-8 text-md-center">
                    <h5>100%</h5>
                    <span>Order</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="card overflow-hidden">
            <div class="card-body p-0">
              <div class="row d-flex align-items-center m-0">
                <div class="col-6 text-center">
                  <div style="padding: 20px 25px">
                    <h2 class="mb-0">19<sup class="f-20">°</sup></h2>
                    <span>Sunny</span>
                  </div>
                </div>
                <div class="col-6 text-center bg-primary p-0">
                  <div style="padding: 20px 25px">
                    <i class="feather icon-sun f-36 text-white"></i>
                    <h6 class="mt-2 mb-0 text-white f-w-400">New York , NY</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- [ sample-page ] end -->
      </div>
    </div>
    <!-- [ Main Content ] end -->
  </div>
  <!-- [ Main Content ] end -->
  
{% endblock content %}
